.filterFarm {
  i {
    color: var(--green100);
  }
}

.farmCard {
  background: url('../../../assets/images/a4.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
